<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;900&family=Cherry+Bomb+One&family=Montserrat:ital,wght@0,500;1,500&family=Titan+One&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/62bcc43f99.js" crossorigin="anonymous"></script>
        <title>{% if page.url == "/" %}{{ site.title }}{% else %}{{ title }} - {{ site.name }}{% endif %}</title>
        <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48">
        <link rel="icon" href="/img/favicon-32.png" type="image/png">
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	</head>
	<body>
		<canvas id="matrix"></canvas>
		<header>
			<h1>{{ title | default: "Zigarot.live"}}</h1>
		</header>
		<main class="container {{ containerClass }}">
            {{ content }}
		</main>
		<footer>
			<p>Made with ♥ in Tulmur/Ipswich, Australia • Kymothy "Zigarot" Kennedy © 2026</p>
		</footer>
		<script src="/matrix.js"></script>
	</body>
</html>